
.morning {
    font-size: 20px;
    color: blue;
}

.afternoon {
    font-size: 20px;
    color: green;
}

.evening {
    font-size: 20px;
    color: red;
}

.time {
    font-size: 20px;
    color: green;
}